 body {
  /*  background-color: lightblue; */
  font-family: Helvetica, Arial, sans-serif;
  } 
  
h1 {
    font-family: Helvetica, Arial, sans-serif;
    color: #0a67ba;
    margin-bottom: 15px;
/*    text-align: center; */
    background-color: #f2f2f2;

}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  color: #0abab5;
  background-color: #f2f2f2;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  color: #67ba0a;
  background-color: #f2f2f2;
}

h4, h5, h6, {
  font-family: Helvetica, Arial, sans-serif;
  color: #747474;
  background-color: #f2f2f2;
}

p , ul, ol, input {
  font-family: Helvetica, Arial, sans-serif;
  color: #747474;
}

p, ul, ol, input {
  font-size: 11pt;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}